<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/save">Saved Articles</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1>Gaming Articles</h1>
  <p>Scrape articles from top PC gaming sites and choose those you want to read, or save them for later!</p>
  <p><button class="btn btn-primary btn-lg" id="scrape">Scrape Now!</button></p>
</div>

<div id="scraped-articles"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>